@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@600&family=Poppins:wght@500;600&display=swap');

body {
    background-color: #FAF7FF;
}
.nav-link {
    color: white;
    font-family: Montserrat;
    margin: 18px 20px;
}

.nav-link:hover {
    color: #0d6efd;
}

.active {
    color:#0d6efd;
}

.contact {
    margin-left: auto;
}
.contact-me {
    font-size: 16px;
    padding: 10px 10px;
    background: inherit;
    border: 1px solid #0d6efd; 
    color: #0d6efd;
}

.contact-me:hover {
    background-color: #0d6efd;
    color: #171717;
}

th.thh {
    background-color: #171717;
    color: #0d6efd;
    border: 0;
}

td {
    border: 1px solid #BBBBBB;
    background-color: #EDEDED;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
}

.social-icon {
    font-size: 30px;
    margin: 10px 5px;
}

.footer {
    padding: 0 !important;
}

.lines {
    display: none;
    font-size: 22px;
}

.carousel-item > img {
    width: 600px;
}